<a href="https://colab.research.google.com/github/Arush0115/Python/blob/master/P20_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dictionary
menu={
    'Dal Makhni':500,
    'roti':50,
    'Panner':250
}
print(menu,type(menu))

{'Dal Makhni': 500, 'roti': 50, 'Panner': 250} <class 'dict'>

In [ ]:
d={
    1.2:'heloo',
    'Yolo':'traveller'
    ,2.3:'padadda',
    1:['Helo','None','False']
}
print(d)

{1.2: 'heloo', 'Yolo': 'traveller', 2.3: 'padadda', 1: ['Helo', 'None', 'False']}

In [ ]:
#Reading values
#get
#square brackets
menu={
    'Dal Makhni':500,
    'roti':50,
    'Panner':250
}
print(menu['Panner'])
print(menu.get('panner'))
print(menu.get('Panner'))
print(menu.get('Pizza',1000))

250
None
250
1000

In [ ]:
#we can use key to get value but cannot use value to get key.

#Updation and Addition
shimla={
    'mall':'shimla01',
    'chota_shimla':'shimla02',
    'khalini':'shimla03'
}
shimla['mall']='shimla-1'
print(shimla)

#Adding a new entry
shimla['panthaghati']='shimla-9'
print(shimla)

{'mall': 'shimla-1', 'chota_shimla': 'shimla02', 'khalini': 'shimla03'}
{'mall': 'shimla-1', 'chota_shimla': 'shimla02', 'khalini': 'shimla03', 'panthaghati': 'shimla-9'}

In [ ]:
#Removing entries
#pop
#del

In [ ]:
shimla={
    'mall':'shimla01',
    'chota_shimla':'shimla02',
    'khalini':'shimla03'
}
shimla.pop('mall')
print(shimla)

{'chota_shimla': 'shimla02', 'khalini': 'shimla03'}

In [ ]:
# Given list of numbers tell the frequencies of number.
a=[3,4,5,5,4,3,2,5,4,3,6,4,6,4,2,4,6,4]
d={}
for k in a:
  if k in d:
    d[k]=d[k]+1
  else:
    d[k]=1
print(d)

{3: 3, 4: 7, 5: 3, 2: 2, 6: 3}

In [ ]:
 if elem not in tup:
        return -1
    return tup.index(elem)    
    
    print("Odd:",tup[::2])
    print("Even:",tup[1::2])