<a href="https://colab.research.google.com/github/Arush0115/Python/blob/master/PythonRefresher2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for loop,while loop,iteration protocol
#Lists
#Shallow vs deep copy
#Append vs extend
#Nested List

In [3]:
#print first 10 positive integers
a=10
for i in range(a):
  print(i+1,end=' ')

1 2 3 4 5 6 7 8 9 10

In [9]:
#print all chractes of a string
a='Hello'
for i in a:
  print(i,end=' ')

H e l l o

In [12]:
#Take input N and print from N to 1.
n=int(input())
while n>=1:
  print(n,end='')
  n=n-1

4
4321

In [20]:
#Reverse a number
#1024
#4201
n=input()
reverse=int(n[::-1])
print(reverse)

123
321

In [21]:
#How to solve questions with T test cases
T=int(input())
t=1
while t<=T:
  n=input()
  reverse=int(n[::-1])
  print(reverse)
  t=t+1

3
123
321
321
123
456
654

In [22]:
#Multi Line code
x=12 +43-54+23 \
+12*4+5
print(x)

77

In [28]:
 #*
 #**
 #***
 #****
 n=4
 for i in range(n):
   for j in range(i+1):
     print('*',end='')
   print()

*
**
***
****

In [36]:
#Range

print(list(range(5,0,-1)))

[5, 4, 3, 2, 1]

In [11]:
#List
marks=[1,4,3,5,30]
print(marks,type(marks))
marks[3]+=3
print(marks)
val=marks.pop()
print(marks)
marks_2=[23,53,44]
marks=marks+marks_2
print(marks)

[1, 4, 3, 5, 30] <class 'list'>
[1, 4, 3, 8, 30]
[1, 4, 3, 8]
None

In [13]:
#slicing
marks=[12,43,54,3,22,43,2354,54,23,67,7]
print(marks[::2])

[12, 54, 22, 2354, 23, 7]

In [25]:
#Enumerate
marks=[10,32,43,54,5]
i=1
for val in marks:
  print(f"{i} value is {val}")
  i=i+1

for i, val in enumerate(marks):
  print(f"{i} value is {val}")
  i=i+1

1 value is 10
2 value is 32
3 value is 43
4 value is 54
5 value is 5
0 value is 10
1 value is 32
2 value is 43
3 value is 54
4 value is 5

In [31]:
#Iteration Protocol
#Applicable for iterables
#iter,next -> Function on each iterable
marks=[10,230,23,43]
a=iter(marks)
print(a,type(a))

<list_iterator object at 0x7f598e2d8d00> <class 'list_iterator'>
10

In [36]:
print(next(a)) #to iterate over next values

StopIteration: ignored

In [37]:
#Shallow copy vs Deep copy
#Different variable name for same object
a=[10,20,40]
b=a
print(id(a),id(b))

140022613978112 140022613978112

In [38]:
#Deep Copy
#A new object copy made from an object
a=[10,20,30]
b=a[:]
print(id(a),id(b))

140022613559616 140022613560192