<a href="https://colab.research.google.com/github/Arush0115/Python/blob/master/PythonRefresher3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List comprehension
#Pass by reference
#tuple
#Dictionary
#Sets

In [4]:
#Given a string S,Create a list of all chracters of S
n=input()
chr=tuple(n)
print(chr)

hell
('h', 'e', 'l', 'l')

In [7]:
#List comprehension
#Syntaxx: [expression for item in iterable]
n=[ch for ch in n]
print(n)

['h', 'e', 'l', 'l']

In [8]:
n=[n**2 for n in range(10,13,1)]
print(n)

[100, 121, 144]

In [10]:
n=[num for num in range(100) if num%3==0 and num%5==0]
print(n)

[0, 15, 30, 45, 60, 75, 90]

In [12]:
ls=['even' if n%2==0 else 'odd' for n in range(10)]
print(ls)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#pass by reference [mutable]
#Pass a variable to function where variable although different reference the same object

#Pass by value
#passing a variable to function where the variable are different are refer to different object

In [ ]:
#Array vs list
#Array-> list of homogenous items.  arr[1,4,3]
#List->list of heterogenous items.  list[1,'hello',3,5]

In [1]:
#Tuples
t=(1,2,3)
print(t,type(t))

(1, 2, 3) <class 'tuple'>

In [2]:
t=t*2
print(t)

(1, 2, 3, 1, 2, 3)

In [3]:
a=3
b=5
a,b=b,a
print(a,b)

5 3

In [4]:
#Dictionary
d={}
print(d,type(d))

{} <class 'dict'>

In [8]:
d={'maruti':'alto', 'hyundai':'santro', 'honda':'city'}
print(d['maruti'])

alto

In [13]:
d.update({
    'bmw':'320d'
})
print(d)
print(d.keys())
print(d.values())

{'maruti': 'alto', 'hyundai': 'santro', 'honda': 'city', 'bmw': '320d'}
dict_keys(['maruti', 'hyundai', 'honda', 'bmw'])
dict_values(['alto', 'santro', 'city', '320d'])

In [15]:
for i in d:
  print(i)

maruti
hyundai
honda
bmw

In [16]:
#SETS 
#unordered collection of unique elements
s={1}
print(type(s))

<class 'set'>

In [17]:
s={1,2,3,4,3,2,4,2,5,6,44,5,4,5}
print(s)

{1, 2, 3, 4, 5, 6, 44}

In [19]:
for val in s:
  print(val,end=' ')

1 2 3 4 5 6 44

In [22]:
s={1,2,3,4,3,2,4,2,5,6,44,5,4,5}
s.remove(2)
print(s)

{1, 3, 4, 5, 6, 44}

In [23]:
s.add(2)
print(s)

{1, 2, 3, 4, 5, 6, 44}